/*#f7f7f8
rgba(41,31,113);*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 16px;
    height: 100%;
    width: 100%;
    background-color: #291f71;
}

body{
    max-width: 900px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

p{
    color: #f7f7f8;
    font-weight: 300;
    line-height: 1.5rem;
    font-size: .8rem;
}

.button-primary{
    text-decoration: none;
    color: white;
    border: 1px solid #c82586 ;
    border-radius: 1rem;
    background-color: #c82586;
    padding: .5rem 1.5rem;
}

.button-secondary{
    text-decoration: none;
    color: white;
    border: 1px solid #4eeaf6 ;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
}

.button-tertiary{
    text-decoration: none;
    color: #4eeaf6;
}

form{
    display: flex;
}

input[type=text]{
    border: 2px solid #c82586;
    background-color: #291f71;
    border-radius: 4px;
    display: inline-block;
    margin-right: .2rem;
    color: #f7f7f8;
    outline-style: none;
    padding: .2rem .5rem;
}

input[type=submit]{
    text-decoration: none;
    color: white;
    border: 1px solid #c82586 ;
    border-radius: 4px;
    background-color: #c82586;
    padding: .2rem 1rem;
    outline-style: none;
}

hr{
    width: 85%;
    border: 1px solid rgba(35, 28, 83, 0.8);
}

header{
    width: 85%;
    height: 75vh;
    margin: 0 auto;
    padding-bottom: 3.5rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: white;
    min-height: 8vh;
    font-size: .8rem;
    font-weight: 300;
}

.nav-links{
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.nav-btn{
    display: none;
}

.nav-btn div{
    width: 1.5rem;
    height: 2px;
    background-color: white;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu{
    background-color: rgba(35, 28, 83, 0.6);
    margin: 0;
}

.menu-links{
    display: block;
}

.header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    color: white;
}

.header-text h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header-text p {
    padding: 0 .5rem 0 .5rem;
    line-height: 1.5rem;
    border-left: 2px solid #4eeaf6;
    color: #f7f7f8;
    margin-bottom: 2.5rem;
    font-weight: 300;
}

/* .header-image{
    width: 45%;
} */

.header-image img{
    width: 100%;
}

.services{
    background-color: rgba(35, 28, 83, 0.6);
    height: 75vh;
    color: white;
    height: 100%;
    padding: 3rem 0;
}

.services-content{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.services-boxs{
    margin-top: 1.5rem;
}

.services-box img{
    width: 1rem;
}

.services-content__text{
    padding-right: 2rem ;
}

.services-content__text h2{
    margin-bottom: 1rem;
}

.services-content__text p{
    margin-bottom: 2rem;
}


/* .services-boxs{
    column-count: 2;
    column-gap: 2rem;
} */

.services-box h3{
    font-size: .8rem;
}

.services-box p{
    color: #f7f7f8;
    font-weight: 300;
    line-height: 1.5rem;
    font-size: .8rem;

}

.aboutUs{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 3.5rem 0;
}

.aboutUs-text{
    width: 50%;
}

.aboutUs-text h2{
    margin-bottom: 1rem;
}

.aboutUs-text p{
    color: #f7f7f8;
    font-weight: 300;
    line-height: 1.5rem;
    font-size: .8rem;
}

.aboutUs-text h3{
    font-weight: 400;
    font-size: .8rem;
    color: #f7f7f8;
    border-left: 2px solid #4eeaf6;
    padding-left: .5rem;
}

.aboutUs-image{
    width: 45%;
}

.aboutUs-image img{
    width: 100%;
}

.courses{
    height: 75vh;
    color: white;
    height: 100%;
    padding: 3.5rem 0;
}

.courses-heading{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 1rem;
}

.courses-content{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
}
/* 
.courses-heading{
    margin-top: 5rem;
}

.courses-button{
    margin-top: 5rem;
} */

.courses-button a{
    display: inline-block;
}

.courses-box{
    width: 30%;
    text-align: center;
}

.courses-title{
    height: 50px;
    margin-top: 1rem;
}
.courses-paragraph{
    height: 100px;
}

.courses-image{
    height: 150px;
    width: 100%;
}

.courses-image img{
    width: 100%;
    height: 100%;
}

.testimonials{
    background-color: rgba(35, 28, 83, 0.6);
    height: 50vh;
    color: white;
    height: 100%;
    padding: 3.5rem 0;
}

.testimonials-text{
    display: none;
}

/* .text{
    animation: 5s text;
}

@keyframes text{
    from{
        transform: translatex(0);
    }
    to{
        transform: translatex(-100%);
    }
} */

.testimonials-heading{
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.testimonials-content{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: flex-start;
}

.scroll{
    display: block;
    margin-top: 2rem;
    text-align: center;
}

.dot{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 25%;
}

.active{
    width: 10px;
    background-color: #4eeaf6;
}

.testimonials-student{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.testimonials-student img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-right: 1rem;
}

.testimonials-student h3{
    margin-bottom: 0;
}

.testimonials-student p{
    margin-top: 0;
}

.footer{
    background-color: rgba(35, 28, 83, 0.6);
    color: white;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 3.5rem;
}

.footer-box{
    width: 30%;
}

.footer-box h3{
    margin-bottom: 1rem;
}

.copyright{
    text-align: center;
}

.copyright img{
    display: inline-block;
    margin: 0 .2rem;
    width: 1rem;
}

/* media queries */

@media (max-width: 768px){
    header{
        height: 100%;
    }
}

@media (max-width: 425px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
    header{
        width: 100%;
    }
    nav{
        background-color: rgba(35, 28, 83, 0.8);
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        top: 0;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: rgba(35, 28, 83, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-active{
        transform: translateX(0);
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-logo{
        margin-left: 2rem;
    }
    .nav-btn{
        display: block;
        margin-right: 2rem;
    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .header-text h1{
        margin-top: 3.5rem;
        font-size: 1.5rem;
    }
    .header{
        height: 100%;
        display: block;
        width: 85%;
        padding-top: 2rem;
        margin: 0 auto;
        top: 8vh;
    }
    .header-image{
        display: none;
    }
    .services{
        height: 100%;
        width: 100%;
    }
    .services-content{
        display: block;
        width: 85%;
    }
    .services-boxs{
        text-align: center;
    }
    .services-content__text{
        margin-bottom: .5rem;
    }
    .services-content__text h2{
        margin-top: 0;
    }
    .services-content__text a{
        width: 100%;
        font-size: .8rem;
        text-align: center;
        margin-top: .5rem;
    }
    .button-secondary{
        padding: .2rem 1rem;
    }
    .aboutUs{
        display: block;
    }
    
    .aboutUs-text{
        width: 100%;
    }
    .aboutUs-image{
        margin-bottom: 2rem;
        width: 100%;
    }
    .testimonials-content{
        display: block;
    }  
    .courses-content{
        display: block;
    }
    .courses-box{
        margin-top: 1.5rem;
        width: 100%;
        text-align: center;
    }
    .courses-title{
        height: 20px;
        padding-top: 1rem;
    }
    .courses-paragraph{
        height: 50px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .courses-head{
        font-size: 1rem;
    }
    .courses-button{
        font-size: .8rem;
    }
    .footer-content{
        display: block;
    }
    .footer-box{
        width: 100%;
        margin-bottom: 1rem;
    }
}
